h1 {
  margin-top: 0px;
  
}

.material-icons {
  margin-top: 18px;
  float: right;
  font-size: 2.0em !important;
}

.mesa1{
  margin-left: 4px;
  float: left;
}

.mesa2{
  float: center;
  
}

.mesa3{
  margin-right: 4px;
  float: right;
}

.mesa1, .mesa2, .mesa3 {
  display: inline-block;
  height: auto !important;
  margin-bottom: 0px !important;
  margin-top: 2px;
  --background: red;
  font-family: helvetica;
  font-size: 0.95em !important;  
  font-weight: bold;
  color: white;
}

.produto1, .produto2, .produto3, .produto4, .produto5 {
  height: 68px;
  --margin-left: 1px;
  background: white;
  overflow: hidden;
  --border-bottom: 1px solid black;
  --border-bottom-style: groove !important;
  text-overflow: ellipsis !important;  
  overflow: hidden;
  transition: background 400ms;
}

#cervejas {
  color: black;
  text-overflow: ellipsis !important;  
  overflow: hidden;
}

.nome1 {
  float: left;
  width: 65%;
  margin-left: 8px;
  text-align : left;
  font-family: helvetica;
  font-weight: bold;
  --pointer-events: none;
}

.nome2 {
  margin-top: 2px;
  margin-right: 8px;
  height: 35%;
  float: right;
  font-family: helvetica;
  font-size: 0.85em !important;
  border-right: 15px !important;
  --pointer-events: none;
}

.nome4{
  height: 97%;
  margin-left: 12%;
  border-bottom: 1px solid black;
  border-bottom-style: groove !important;
  border-bottom-style: solid;
  --pointer-events: none;
}

.nome3 {
  float: left;
  width: calc(80%);
  --max-width: 300px;
  height: 60px;
  margin-left: 8px;
  --background: blue;
  font-family: helvetica;
  font-style: italic;
  text-align: left;
  color: gray;
  font-size: 0.75em !important;
  overflow: hidden;
  white-space:normal;
  text-overflow: ellipsis !important;
  --pointer-events: none;
}

#cerveja {
  margin-top: 4px;
  width: auto;
  height: auto;
  max-width: 80%;
  max-height: 80%;  
  display: block;
  float: left;
  border-radius: 80%;
  border-color: black;
  border-width: 1px;
}

#logo {
  width: auto;
  --height: auto;
  --float: left;
  max-width: 80%;
  max-height: 240%;
  display: block; /* remove extra space below image */
  float: left;
 }

body {
  margin-top: 1px !important; 
  margin-bottom: 0px !important; 
  margin-left: 0px; 
  margin-right: 0px;
  padding: 0;  
  font-family: helvetica;
  background: #142033;
  --backround: #9babc2;
  color: white;
  text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.fixed2 {
  padding: 0px;
  height: 25px;
  font-family: helvetica;  
  text-align: center;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  background: #27323d;
  border-style: solid;
  border-color: #27323d;
  border-width: 1px;
  border-radius: 0px;
  border-bottom: 1px solid white;
  border-bottom-style: groove !important;  
}

.opcao {
    display:inline-block;
    margin-right: 0px;
    box-sizing: border-box;
    font-weight: bold;
}

#cardapio, #pedido, #status {
  font-size: 1.0em !important;
  color: #4a6075;
  display:inline-block;
  height: 26px;
  box-sizing: border-box;
  --background: red;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#cardapio {
  float: left;
  margin-left: 14px;
}

#cardapio:focus{
  color: white !important;
  border-bottom-style: solid;  
  border-color: white;
  border-width: 3px;
  outline: none;
  
}

#pedido {
  float: center;
  transform: translateX(-12%);
}

#pedido:focus{
  color: white !important;
  border-bottom-style: solid;  
  border-color: white;
  border-width: 3px;
  outline: none;
}

#status {
  float: right;
  margin-right: 14px;
}

#status:focus{
  color: white !important;
  border-bottom-style: solid;  
  border-color: white;
  border-width: 3px;
  outline: none;  
}

.fixed3 {
  padding: 0px;
  height: 30px;
  line-height: 24px;
  font-family: helvetica;
  text-align: center;
  margin: auto;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  background: #27323d;
  border-style: solid;
  border-color: #27323d;
  border-width: 1px;
  border-radius: 0px;
}


.fixed {
  height: 74px;
  text-align: center;
  margin: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  background: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 0px;
  overflow: hidden;
}

header {
  margin : 0px !important;
}

.modal {
  color: rgb(0, 0, 0);
  visibility: hidden;
  display: inline-block;
  box-shadow: 14px 14px  rgba(0, 0, 0, 0.4);
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  padding-top: 4px;
  width: 80%; /* Full width */
  height: 90vh; /* Full height */
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 20px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: rgb(255, 255, 255); /* Fallback color */
  background-color: rgb(255, 255, 255); /* Black w/ opacity */
  opacity: 0;
  transition:visibility 0.3s linear,opacity 0.3s linear;
}

#botaocancel {
  color: red;
}

.modalHeader, .modalImg, .modalDesc, .modalButtons {
  
  display: inline-block;
  width: 99%;
  overflow: hidden;
}

.modalHeader {
  height: 5vh !important;
  vertical-align: center;
  font-family: helvetica;
  font-size: 2.9vh !important;  
  font-weight: bold;
  text-align: center;
  padding-top: 8px;
  padding-left: 10px;
}

.modalImg {
  height: 140px !important;
   
  text-align: center;
  --max-width: 85% !important;
  --max-height: auto !important;
  margin: 0;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 1px;
  border-radius: 4px;
  overflow: hidden;

  background-color: rgba(88, 15, 15, 0.1); /* Black w/ opacity */


}

.modalDesc {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
  height: 25vh !important;
  width: calc(97%) !important;
  margin-left: 4px;
  padding-right: 10px !important;
  margin-right: 10px !important;
  font-family: helvetica;
  font-size: 1.85vh !important;
  font-style: italic;
  color: #27323d !important;
  --font-weight: bold;
  text-align: justify !important;
  border-bottom: black;
  border-bottom-width: 1px;
  border-bottom-style: groove;
}

.modalDesc::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.modalButtons {
  height: auto !important;
  position: absolute;
  transform: translateX(-50%);
  bottom: 10px;  
  text-align: bottom;
  
}

  .addremove {

    border-radius: 2px;
    border: 0px;
    width: 85%;
    height: auto;
    max-width: 85%;
    box-shadow: 2px 2px 5px 0 #000;
    font-family: Helvetica;
    font-size: 3.0vh;
    font-weight: bolder;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #2f7739;
  }


.mImg{
  width: auto !important;
  height: auto !important;
  max-width: 110%;
  max-height: 360%; 


  display: block; /* remove extra space below image */
  float: left;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}